@font-face {
  font-family: Arcade;
  src: url("./fonts/Arcade.TTF");
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(46, 46, 46);
  // font-family: Arcade;
}

$deviceWidth: 370px;
$deviceHeight: 600px;
$greenScreen: rgb(104, 146, 30);
$darkerGreen: rgb(95, 126, 75);

.device {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  justify-content: center;
  margin-top: 80px;
  background-color: rgb(233, 232, 226);
  width: $deviceWidth;
  height: $deviceHeight;
  border-radius: 3px;

  .topLight {
    position: absolute;
    left: 0;
    top: 0;
    width: 15px;
    height: 15px;
    border-radius: 50px;
    margin-left: 10px;
    margin-top: 10px;
    background-color: rgb(164, 116, 116);
    animation: blink 0.9s infinite ease-in-out;
  }
}

@keyframes blink {
  0% {
    background-color: rgb(164, 116, 116);
  }
  50% {
    background-color: rgb(170, 33, 33);
  }
  100% {
    background-color: rgb(164, 116, 116);
  }
}

.gridContainer {
  z-index: 1;
  position: relative;
  margin-top: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: $darkerGreen;

  .topRow {
    top: 0;
    right: 0;
    margin-top: -30px;
    margin-right: 0px;
    width: 16%;
    height: 25px;
    position: absolute;
    background-color: $darkerGreen;
    align-items: center;
    justify-content: end;

    .scoreCounter {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 1px;
      height: 100%;
      width: 50px;
      // background-color: rgb(133, 221, 160);
      .number {
        font-family: Arcade;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 22%;
        height: 73%;
        // background-color: red;
        border: 2px solid rgba(25, 64, 26, 100%);
        border-radius: 2px;

        p {
          color: rgb(25, 64, 26);
          margin-top: 1px;
          margin-bottom: 1px;
          margin-left: 2px;
          font-size: 0.6rem;
          text-shadow: -0.5px 0.5px 1px rgba(15, 39, 16, 0.9);
        }
      }
    }
  }

  .popUpScreen {
    display: none;
    font-family: Arcade;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 50%);
    z-index: 2;
    position: absolute;
  }
  .endScreen {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    // display: none;
    p {
      margin: 0;

      text-align: center;
    }
    .words {
      margin-left: 20px;
      font-size: 1.7rem;
    }
    .score {
      margin-left: 10px;
      margin-top: 20px;
      font-size: 1.2rem;
    }
  }
  .showEnd,
  .showStart {
    display: flex;
  }
}

.gridRow {
  display: flex;
  padding: 0;
  line-height: 0;
}

.box {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  background-color: $greenScreen;
  border: solid 0.2px rgba(91, 129, 26, 30%);
  color: rgba(51, 51, 51, 0);
  font-size: 0.4rem;
  overflow: hidden;
}

.snake {
  background-color: rgb(26, 69, 12);
  color: black;
}

.food {
  background-color: white;
  color: black;
  box-shadow: 0px 0px 10px 3px white;
}

.snakeHead {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  left: 0;
  width: 8px;
  height: 100%;
  // background-color: gray;
  .eye {
    width: 5px;
    height: 5px;
    background-color: rgb(21, 41, 26);
    border-radius: 1px;
  }
}
.left {
  rotate: 180deg;
}
.up {
  rotate: -90deg;
}
.down {
  rotate: 90deg;
}
.right {
  rotate: 180deg;
}

.buttonContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 200px;
  // background-color: rgb(89, 89, 89);
  // margin-left: 50px;
  margin-top: 20px;
  .top,
  .middle,
  .bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 25%;
    // background-color: red;

    button {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 50px;
      height: 50px;
      border-radius: 40px;
      border: solid 2px black;
    }
    .upButton {
      background-color: rgb(219, 105, 105);
      border-color: #964444;
    }
    .downButton {
      background-color: rgb(93, 110, 237);
      border-color: #354092;
    }
    .leftButton {
      background-color: rgb(218, 221, 107);
      border-color: #9fa24e;
    }
    .rightButton {
      background-color: rgb(126, 205, 119);
      border-color: #52864e;
    }
    .arrow {
      width: 30px;
    }
    .upIcon {
      margin-bottom: 4px;
      filter: invert(33%) sepia(12%) saturate(2656%) hue-rotate(314deg)
        brightness(94%) contrast(86%);
    }
    .leftIcon {
      transform: rotate(-90deg);
      margin-right: 5px;
      filter: invert(51%) sepia(88%) saturate(241%) hue-rotate(23deg)
        brightness(103%) contrast(88%);
    }
    .downIcon {
      transform: rotate(180deg);
      margin-top: 5px;
      filter: invert(28%) sepia(29%) saturate(1308%) hue-rotate(193deg)
        brightness(91%) contrast(99%);
    }
    .rightIcon {
      transform: rotate(90deg);
      margin-left: 4px;
      filter: invert(46%) sepia(20%) saturate(879%) hue-rotate(68deg)
        brightness(96%) contrast(90%);
    }
  }
  .top {
  }
  .middle {
    gap: 80px;
  }
  .bottom {
  }
}
