.gridContainer {
  /* display: flex;
  flex-direction: column; */
  background-color: green;
}

.gridRow {
  /* display: flex; */
  padding: 0;
  line-height: 0;
}

.box {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  background-color: red;
  font-size: 0.4rem;
  overflow: hidden;
}

.grid {
  width: 20px;
  height: 20px;
  background-color: black;
}
