@font-face {
  font-family: Arcade;
  src: url("./fonts/Arcade.TTF");
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(46, 46, 46);
  // font-family: Arcade;
}

$deviceWidth: 390px;
$deviceHeight: 750px;
$greenScreen: rgb(107, 182, 60);
$darkerGreen: rgb(95, 126, 75);

.device {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  justify-content: center;
  margin-top: 20px;
  background-color: rgb(233, 232, 226);
  width: $deviceWidth;
  height: $deviceHeight;
  border-radius: 3px;
}

.gridContainer {
  position: relative;
  // padding-top: 15px;
  // width: 90%;
  // height: 360px;

  display: flex;
  align-items: center;
  justify-content: center;
  // gap: 1px;
  flex-direction: column;
  background-color: $darkerGreen;

  .topRow {
    top: 0;
    right: 0;
    margin-top: -30px;
    margin-right: 0px;
    width: 16%;
    height: 25px;
    position: absolute;
    background-color: $darkerGreen;
    align-items: center;
    justify-content: end;

    .scoreCounter {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 1px;
      height: 100%;
      width: 50px;
      // background-color: rgb(133, 221, 160);
      .number {
        font-family: Arcade;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 22%;
        height: 73%;
        // background-color: red;
        border: 2px solid rgba(25, 64, 26, 100%);
        border-radius: 2px;

        p {
          color: rgb(25, 64, 26);
          margin-top: 1px;
          margin-bottom: 1px;
          margin-left: 2px;
          font-size: 0.6rem;
          text-shadow: -0.5px 0.5px 1px rgba(15, 39, 16, 0.9);
        }
      }
    }
  }
}

.gridRow {
  display: flex;
  padding: 0;
  line-height: 0;
}

.box {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  background-color: rgb(107, 182, 60);
  border: solid 0.2px rgb(96, 165, 53);
  color: rgba(51, 51, 51, 0);
  font-size: 0.4rem;
  overflow: hidden;
}

.snake {
  background-color: rgb(52, 106, 16);
  color: black;
}

.food {
  background-color: white;
  color: black;
  box-shadow: 0px 0px 10px 3px white;
}

.snakeHead {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  left: 0;
  width: 8px;
  height: 100%;
  // background-color: gray;
  .eye {
    width: 5px;
    height: 5px;
    background-color: black;
    border-radius: 1px;
  }
}
.left {
  rotate: 180deg;
}
.up {
  rotate: -90deg;
}
.down {
  rotate: 90deg;
}
.right {
  rotate: 180deg;
}

.buttonContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 250px;
  background-color: rgb(89, 89, 89);
  margin-left: 50px;
  margin-top: 50px;
  .top,
  .middle,
  .bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 33%;
    // background-color: red;

    button {
      width: 60px;
      height: 60px;
      border-radius: 15px;
    }
  }
  .top {
  }
  .middle {
    gap: 50px;
  }
  .bottom {
  }
}
